[submodule "media/media"]
	path = media/media
	url = https://github.com/Jeffrey-Suitor/media.git
[submodule "i3/.config/polybar/hack/scripts/polybar-spotify"]
	path = i3/.config/polybar/hack/scripts/polybar-spotify
	url = https://github.com/PrayagS/polybar-spotify.git
[submodule "programs/programs/yay"]
	path = programs/programs/yay
	url = https://aur.archlinux.org/yay.git
[submodule "programs/programs/firefox-sweet-theme"]
	path = programs/programs/firefox-sweet-theme
	url = https://github.com/EliverLara/firefox-sweet-theme.git
[submodule "programs/programs/neovim"]
	path = programs/programs/neovim
	url = https://github.com/neovim/neovim.git
[submodule "programs/programs/pentract-grub-theme"]
	path = programs/programs/pentract-grub-theme
	url = https://github.com/sarancodes/pentract-grub-theme.git
